<section class="slider-style2">
  <div class="swiper-container" id="home-slider2">
    <div class="swiper-wrapper">
      <div class="swiper-slide fullscreen" style="background-image: url('assets/images/SLIDER1.png')">
        <div class="slidertext">
          <span class="offer-text">Ofertas Especiales</span>
          <h1 class="slider-title">
            <span>Productos Con </span>
            <span>50% </span>
            <span>en descuentos.</span>
          </h1>
          <a [routerLink]="['/Ofertas']" class="btn btn btn-primary">Ver Ahora</a>
        </div>
      </div>
      <div class="swiper-slide fullscreen" style="background-image: url('assets/images/SLIDER2.png')">
        <div class="slidertext">
          <span class="offer-text">Ofertas Especiales</span>
          <h1 class="slider-title">
            <span>Productos Con </span>
            <span>50% </span>
            <span>en descuentos.</span>
          </h1>
          <a [routerLink]="['/Ofertas']" class="btn btn btn-primary">Ver Ahora</a>
        </div>
      </div>
      <div class="swiper-slide fullscreen" style="background-image: url('assets/images/SLIDER3.png')">
        <div class="slidertext">
          <span class="offer-text">Ofertas Especiales</span>
          <h1 class="slider-title">
            <span>Productos Con </span>
            <span>50% </span>
            <span>en descuentos.</span>
          </h1>
          <a [routerLink]="['/Ofertas']" class="btn btn btn-primary">Ver Ahora</a>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <!-- Add Arrows -->
    <div class="sw-ar">
      <div class="prev"><i class="fas fa-angle-left"></i></div>
      <div class="swiper-pagination"></div>
      <div class="next"><i class="fas fa-angle-right"></i></div>
    </div>
  </div>
</section>
