<div class="modal fade popup-bg" id="popup-style1" role="dialog">
  <div class="modal-dialog popup-style1" >
    <div class="modal-content ">
      <div class="border-radius-5 position-relative">
        <button class="close" data-dismiss="modal"><i class="fas fa-times"></i></button>
        <div class="row popup-img">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <img src="assets/images/pruebas.png" class="img-fluid" alt="newsletter-bg1">
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 popup-newsletter">
            <div class="popup-content widget_blog_subscription">
              <div class="position-relative">
                <div class="padding-bottom-10px">
                  <!-- popup newsletters starts -->
                  <h3 class="font-weight-800 main-font text-transform lg-title-medium md-title-medium sm-title-mdmore sm-margin-top-10px">ComerZio.co</h3>
                  <!-- popup newsletters ends -->
                  <span class="main-font font-weight-600 md-text-large sm-text-large">Actualmente estamos en pruebas internas, te recordamos que las compras realizadas no serán exitosas</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

