    <main class="page-content">
      <div class="col-lg-8 center-col margin-bottom-40px lg-margin-bottom-30px md-margin-bottom-25px sm-margin-bottom-20px text-center">
      </div>

        <div class="welcome">
          <div class="content rounded-3 p-3">
            <h1 class="fs-3">Dashboard</h1>
            <p class="mb-0">Hola <strong></strong>, Bienvenido a tu increíble Dashboard!</p>
          </div>
        </div>

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div id="divChart">
              <canvas id="myChart"></canvas>
            </div>
          </div>
          <div class="col-sm">
            <div id="divChart">
              <canvas id="myChart2"></canvas>
            </div>
          </div>
          <div class="col-sm">
            <div id="divChart">
              <canvas id="myChart3"></canvas>
            </div>
          </div>

        </div>
<!-- product details page starts -->
<section class="padding-50px-tb  wishlist-page">
  <div class="container">
    <div class="row sm-margin-left-right-0px">
      <!--product table starts  -->
      <div class="table-responsive">
        <table class="table table-bordered no-margin-bottom">
          <thead>
            <!--product heading table strats -->
            <tr class="text-center">
              <th>Product Name</th>
              <th>Unit Price</th>
              <th>Status</th>
              <th>Sub Total</th>
              <th>Add To Cart</th>
              <th>Action</th>
            </tr>
            <!--product heading table ends -->
          </thead>
          <tbody>
            <tr class="text-center">
              <!--product image strats -->
              <td>
                <div class="wishlist-img">
                  <a href="product-details.html"><img src="assets/images/wishlist-image1.png" alt=""></a>
                  <div class="added-product">
                    <a href="product-details.html" class="font-weight-600 text-black sm-text-large">Video Doorbell</a>
                  </div>
                </div>
              </td>
              <!--product image ends -->
              <td class="vertical-align-middle sm-text-large">$700.00</td>
              <td class="vertical-align-middle">
                <span class="text-danger sm-text-large">Out Stocks</span>
              </td>
              <td class="vertical-align-middle font-weight-600">$760.00</td>
              <td class="vertical-align-middle md-width-170px sm-width-100"><a href="cart-page.html" class="btn-style1">add to cart</a></td>
              <td class="vertical-align-middle">
                <div class="delet-icon">
                  <!-- trash icon starts -->
                  <i class="fas fa-times hoverstyle1"></i>
                  <!-- trash icon ends -->
                </div>
              </td>
            </tr>
            <tr class="text-center">
              <!--product image strats -->
              <td>
                <div class="wishlist-img">
                  <a href="product-details.html"><img src="assets/images/wishlist-image2.png" alt=""></a>
                  <div class="added-product">
                    <a href="product-details.html" class="font-weight-600 text-black sm-text-large">Pen Drive</a>
                  </div>
                </div>
              </td>
              <!--product image ends -->
              <td class="vertical-align-middle">$300.00</td>
              <td class="vertical-align-middle">
                <span class="text-success sm-text-large">In Stocks</span>
              </td>
              <td class="vertical-align-middle font-weight-600">$325.00</td>
              <td class="vertical-align-middle md-width-170px sm-width-100"><a href="cart-page.html" class="btn-style1">add to cart</a></td>
              <td class="vertical-align-middle">
                <div class="delet-icon">
                  <!-- trash icon starts -->
                  <i class="fas fa-times hoverstyle1"></i>
                  <!-- trash icon ends -->
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--product table ends  -->
    </div>
  </div>
</section>
<!-- product details page ends -->
      </div>
    </main>
    <!-- page-content" -->