<!-- slider ends -->
<section class="top-banner">
  <div class="container-fluid">
    <div class="row top-banner-sec">
      <div class="col-xl-4 col-lg-4 col-md-12 col-12 top-banner-content">
        <div class="top-b-img">
          <a href="javascript:void(0)"><img src="assets/images/Banner1.png" class="img-fluid"></a>
          <div class="top-banner-text">
            <span class="b-label"></span>
            <h6 class="b-title"></h6>
            <span class="b-offer"></span>
            <!-- <a href="javascript:void(0)" class="btn btn-style1"></a> -->
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-12 top-banner-content">
        <div class="top-b-img">
          <a href="javascript:void(0)"><img src="assets/images/Banner1.png" class="img-fluid"></a>
          <div class="top-banner-text">
            <span class="b-label"></span>
            <h6 class="b-title"></h6>
            <span class="b-offer"></span>
            <!-- <a href="#" class="btn btn-style1"></a> -->
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-12 top-banner-content">
        <div class="top-b-img">
          <a href="javascript:void(0)"><img src="assets/images/Banner1.png" class="img-fluid"></a>
          <div class="top-banner-text">
            <span class="b-label"></span>
            <h6 class="b-title"></h6>
            <span class="b-offer"></span>
            <!-- <a href="#" class="btn btn-style1"></a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

